<a href="https://colab.research.google.com/github/NitigonOnnang/programmingWithPython/blob/main/Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://images.shiksha.com/mediadata/images/articles/1723098997phpe4XpdY.jpeg'>

<img src='https://education.launchcode.org/lchs/_images/dictionary.png'>

<img src='https://images.theengineeringprojects.com/image/main/2022/03/1-18.jpg'>

<img src='https://logicmojo.com/assets/dist/new_pages/images/pythondict.png'>

# **รูปแบบ**


```
d = {
    <key>: <value>,
    <key>: <value>,
      .
      .
      .
    <key>: <value>
}
```





```
app_users= {"username": "user1","age": 20, "email": "user1@example.com", "active": True}
```

In [1]:
#ตัวอย่างที่ 1 : แสดงรายการ Dictionary
app_users= {"username": "user1","age": 20, "email": "user1@example.com", "active": True}
print(app_users)

{'username': 'user1', 'age': 20, 'email': 'user1@example.com', 'active': True}

# <font color='darkred'>**ในดิกชันนารีจะไม่อนุญาตให้มีข้อมูลที่เป็น key ซ้ำกัน**</font>

In [2]:
#ตัวอย่างที่ 2 : กรณีที่มีการใช้ key ซ้ำกัน
app_users= {"username": "user1","age": 20, "email": "user1@example.com", "active": True,"age":40}
print(app_users)

{'username': 'user1', 'age': 40, 'email': 'user1@example.com', 'active': True}

# <font color='darkgreen'>**การเข้าถึงข้อมูลในดิกชันนารี**</font>
การเข้าถึงข้อมูลก็ใช้<font color='red'>**ชื่อดิกชันนารี**</font>ตามด้วย <font color='red'>**[ใส่ชื่อคีย์ ]** </font>

In [ ]:
#ตัวอย่างที่ 3 : การเข้าถึงข้อมูลใน dictionary
app_users= {"username": "user1","age": 20, "email": "user1@example.com", "active": True}
print(app_users["email"])

ทั้งคีย์และค่าจะเป็นข้อมูลชนิดไหนก็ได้ อาจเป็นตัวเลขก็ได้ เช่น ดิกชันนารีที่เก็บชื่อของโปเกมอน

In [ ]:
pokemon = {151: 'mew',
152: 'chicorita', 153: 'bayleaf',154: 'meganium',
155: 'hinoarashi', 156: 'magmarashi',157: 'bakphoon',
158: 'waninoko',159: 'alligates', 160: 'ordile'}
print(pokemon[151])

# <font color='darkgreen'>**keys, values และ items**</font>
รายการคีย์ทั้งหมดสามารถแสดงได้โดยเมธอด .keys

In [ ]:
pokemon = {151: 'mew',
152: 'chicorita', 153: 'bayleaf',154: 'meganium',
155: 'hinoarashi', 156: 'magmarashi',157: 'bakphoon',
158: 'waninoko',159: 'alligates', 160: 'ordile'}

ค่าในดิกชันนารีสามารถแสดงทั้งหมดโดยเมธอด .values

In [ ]:
pokemon = {151: 'mew',
152: 'chicorita', 153: 'bayleaf',154: 'meganium',
155: 'hinoarashi', 156: 'magmarashi',157: 'bakphoon',
158: 'waninoko',159: 'alligates', 160: 'ordile'}

ถ้าต้องการให้แสดงคีย์กับค่าคู่กันในรูปของทูเพิลให้ใช้เมธอด .items

In [ ]:
pokemon = {151: 'mew',
152: 'chicorita', 153: 'bayleaf',154: 'meganium',
155: 'hinoarashi', 156: 'magmarashi',157: 'bakphoon',
158: 'waninoko',159: 'alligates', 160: 'ordile'}

# <font color='darkgreen'>**การใช้ for คู่กับดิกชันนารี**</font>
เมื่อใช้ for กับดิกชันนารี ตัวแปรจะไล่ตามคีย์ ไม่ใช่ค่า

In [ ]:
pokemon = {151: 'mew',
152: 'chicorita', 153: 'bayleaf',154: 'meganium',
155: 'hinoarashi', 156: 'magmarashi',157: 'bakphoon',
158: 'waninoko',159: 'alligates', 160: 'ordile'}
for s in pokemon:
    print(s,end=' ')

# <font color='darkgreen'>**การเพิ่มข้อมูลและแก้ไขดิกชันนารี**</font>

In [ ]:
phuenthi = {'นครราชสีมา': 20494, 'เชียงใหม่': 20107,
'กาญจนบุรี': 19483, 'ตาก': 16407,
'อุบลราชธานี': 15774, 'สุราษฎร์ธานี': 12891}
phuenthi['ชัยภูมิ'] = 12778
print(phuenthi)

อาจใช้เมธอด .update เพื่อรับเอาข้อมูลจากดิกชันนารีอื่นมาก็ได้

In [ ]:
phuenthi.update({'เพชรบูรณ์': 12668, 'ลำปาง': 12534})
print(phuenthi)

# <font color='darkgreen'>**การใช้ for สร้างดิกชันนารี**</font>
เช่นเดียวกับลิสต์ ดิกชันนารีก็สามารถสร้างขึ้นจาก for ได้

In [ ]:
f = {x:3*x+2 for x in range(100)} # สร้างฟังก์ชัน 3x+2 ที่มีโดเมนเป็นจำนวนเต็ม 0 ถึง 99
print(f)

In [ ]:
f = {} # สร้างดิกชันนารีเปล่าขึ้นมาก่อน
for x in range(100):
    f[x] = 3*x+2 # ใส่เพิ่มไปทีละค่า

# <font color='darkgreen'>**การลบข้อมูลในดิกชันนารี**</font>
สามารถลบทีละตัวได้โดยใช้เมธอด .pop แล้วระบุคีย์ที่ต้องการลบ

In [ ]:
python1 = {5966208114: 54, 5966100309: 59, 5966117558: 49,5966209223: 62, 5966195674: 48, 5966119902: 43}
python1.pop(5966119902)

อาจลบโดยใช้คำสั่ง del ก็ได้


```
del ชื่อดิกชันนารี[คีย์ที่ต้องการลบ]
```

In [ ]:
del python1[5966195674]

In [ ]:
python1.clear()

In [ ]:
del python1

# <font color='darkgreen'>**คีย์หรือค่ามากกว่าหนึ่งตัว**</font>

In [ ]:
students = {
    "5966208114": {"name": "สมชาย", "age": 18, "grade": "A"},
    "5966100309": {"name": "สมศรี", "age": 19, "grade": "B"},
    "5966117558": {"name": "วิรัช", "age": 20, "grade": "C"},
    "5966209223": {"name": "มานะ", "age": 18, "grade": "B"},
    "5966195674": {"name": "ศิริพร", "age": 19, "grade": "A"}
}